BODY {
	BACKGROUND-COLOR: #ffffff; COLOR: #000000; FONT-FAMILY: Verdana; FONT-SIZE: 10pt; MARGIN: 0px
}
H1 {
	FONT-FAMILY: Verdana; FONT-SIZE: 18pt; PADDING-TOP: 6pt
}
H2 {
	FONT-FAMILY: Verdana; FONT-SIZE: 16pt; PADDING-TOP: 15pt
}
H3 {
	FONT-FAMILY: Verdana; FONT-SIZE: 14pt; PADDING-TOP: 15pt
}
H4 {
	FONT-FAMILY: Verdana; FONT-SIZE: 12pt; PADDING-TOP: 15pt
}
H5 {
	FONT-FAMILY: Verdana; FONT-SIZE: 10pt; PADDING-TOP: 15pt
}
H6 {
	COLOR: #800000; FONT-FAMILY: Verdana; FONT-SIZE: 20pt; FONT-WEIGHT: bold; LINE-HEIGHT: 75%; MARGIN: 0px; TEXT-ALIGN: left; TEXT-INDENT: 0px
}
PRE {
	FONT-FAMILY: Courier; FONT-SIZE: 10pt; LINE-HEIGHT: 120%
}
TABLE {
	FONT-FAMILY: Verdana; FONT-SIZE: 10pt
}
TR {
	FONT-FAMILY: Verdana; FONT-SIZE: 10pt
}
TH {
	FONT-FAMILY: Verdana; FONT-SIZE: 10pt
}
TD {
	FONT-FAMILY: Verdana; FONT-SIZE: 10pt
}
UL {
	FONT-FAMILY: Verdana; FONT-SIZE: 10pt; LIST-STYLE: square
}
OL {
	FONT-FAMILY: Verdana; FONT-SIZE: 10pt
}
LI {
	FONT-FAMILY: Verdana; FONT-SIZE: 10pt; PADDING-BOTTOM: 9pt
}
P {
	FONT-FAMILY: Verdana; FONT-SIZE: 10pt
}
B {
	FONT-FAMILY: Verdana
}
I {
	FONT-FAMILY: Verdana
}
STRONG {
	FONT-FAMILY: Verdana
}
BLOCKQUOTE {
	FONT-FAMILY: Verdana
}
TABLE.Full {
	HEIGHT: 100%
}
.TbColor {
	BACKGROUND-COLOR: #ffffcc; COLOR: #000000
}
.SbColor {
	BACKGROUND-COLOR: #ffffcc; COLOR: #000000
}
.MenuColor {
	BACKGROUND-COLOR: #000080; COLOR: #ffffff
}
.TbTitle {
	COLOR: #800000; FONT-FAMILY: Verdana; FONT-SIZE: 20pt; FONT-WEIGHT: bold; LINE-HEIGHT: 75%; MARGIN: 0px; TEXT-ALIGN: left; TEXT-INDENT: 0px
}
.SbTitle {
	COLOR: #800000; FONT-FAMILY: Verdana; FONT-SIZE: 8pt; FONT-WEIGHT: bold; MARGIN-BOTTOM: 2pt; MARGIN-LEFT: 2pt; MARGIN-TOP: 20pt
}
.SbText {
	FONT-FAMILY: Verdana; FONT-SIZE: 8pt; MARGIN-BOTTOM: 0pt; MARGIN-LEFT: 10pt; MARGIN-TOP: 0pt
}
.MenuText {
	BACKGROUND-COLOR: #000080; COLOR: #ffffff; FONT-FAMILY: Verdana; FONT-SIZE: 8pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.MenuText:hover {
	BACKGROUND-COLOR: #000080; COLOR: #ffff00; FONT-FAMILY: Verdana; FONT-SIZE: 8pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.InfoBox {
	BACKGROUND-COLOR: #ccffff; BORDER-BOTTOM: #000080 1pt solid; BORDER-LEFT: #000080 1pt solid; BORDER-RIGHT: #000080 1pt solid; BORDER-TOP: #000080 1pt solid; COLOR: #000000; FONT-FAMILY: Verdana; FONT-SIZE: 8pt; MARGIN-BOTTOM: 20pt; MARGIN-TOP: 20pt; WIDTH: 80%
}
TABLE.BroTaBack {
	BORDER-BOTTOM: #808080 1pt solid; BORDER-COLLAPSE: collapse; BORDER-LEFT: #808080 1pt solid; BORDER-RIGHT: #808080 1pt solid; BORDER-TOP: #808080 1pt solid; WIDTH: 100%
}
TD.BroTaBack {
	BACKGROUND-COLOR: #f0f0f0; COLOR: #000000
}
.TabHeadGRN {
	BACKGROUND-COLOR: #008000; BORDER-BOTTOM: #000000 1pt solid; BORDER-TOP: #000000 1pt solid; COLOR: #ffffff; FONT-FAMILY: Verdana; FONT-SIZE: 8pt; FONT-WEIGHT: bold; MARGIN-BOTTOM: 2pt; MARGIN-LEFT: 2pt; MARGIN-TOP: 20pt
}
.TabTextGRN {
	BACKGROUND-COLOR: #ccffcc; BORDER-BOTTOM: #008000 1pt solid; COLOR: #000000; FONT-FAMILY: Verdana; FONT-SIZE: 8pt; MARGIN-BOTTOM: 0pt; MARGIN-LEFT: 10pt; MARGIN-TOP: 0pt
}
.TabTextAUTO {
	BORDER-BOTTOM: #008000 1pt solid; FONT-FAMILY: Verdana; FONT-SIZE: 8pt; MARGIN-BOTTOM: 0pt; MARGIN-LEFT: 10pt; MARGIN-TOP: 0pt
}
.BMTitle {
	BACKGROUND-COLOR: #008000; BORDER-BOTTOM: #000000 1pt solid; BORDER-TOP: #000000 1pt solid; COLOR: #ffffff; FONT-FAMILY: Verdana; FONT-SIZE: 8pt; FONT-WEIGHT: bold; MARGIN-BOTTOM: 2pt; MARGIN-LEFT: 2pt; MARGIN-TOP: 20pt
}
.BMBar {
	BACKGROUND-COLOR: #ccffcc; BORDER-BOTTOM: #008000 1pt solid; COLOR: #000000; FONT-FAMILY: Verdana; FONT-SIZE: 8pt; MARGIN-BOTTOM: 0pt; MARGIN-LEFT: 10pt; MARGIN-TOP: 0pt
}
.BMNoBar {
	BORDER-BOTTOM: #008000 1pt solid; FONT-FAMILY: Verdana; FONT-SIZE: 8pt; MARGIN-BOTTOM: 0pt; MARGIN-LEFT: 10pt; MARGIN-TOP: 0pt
}
.CopyRight {
	CLEAR: both; FONT-FAMILY: Verdana; FONT-SIZE: 8pt; MARGIN-TOP: 18pt; TEXT-ALIGN: center
}
.TinyTxt {
	FONT-FAMILY: Verdana; FONT-SIZE: 8pt
}
.TableHeading {
	BACKGROUND-COLOR: #000099; COLOR: #ffffff; FONT-FAMILY: Verdana; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.TableBody {
	FONT-FAMILY: Verdana; FONT-SIZE: 10pt
}
.clear {
	CLEAR: both
}
.error {
	COLOR: #ff0000; FONT-WEIGHT: bold
}
.FormField {
	FONT-SIZE: 8pt; FONT-WEIGHT: normal
}
.BtBar {
	BORDER-BOTTOM: #000000 1pt solid
}
.RiBar {
	BORDER-RIGHT: #000000 1pt solid
}
