<html>


<head>
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
  <!-- This is the template set for Google charts implementation / author : Shreyas Gune // ref : Google Charts API_Docs---->
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
</head>
<script type = "text/javascript" src = "chartdraw.js" > </script>

<script>
$(function () {
drawStatesMap();
});
</script>


<body>
	<h3></h3>
  <div id="chart_div" style= "width:900px; height:500px; "></div>
  <div id="chart_div2" style= "width:900px; height:500px; "></div>
  <div id="chart_div3" style= "width:900px; height:500px; "></div>
  
</body>
</html>